@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

/*=========================== RIO CALCULATOR MODAL STYLES ===========================*/
.rio-calculator-modal-dialog {
  /* background: #ffffff !important; */
}
.cursor-pointer {
  cursor: pointer;
}
.rio-calculator-modal-content {
  border: none !important;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff !important;
}

.modal-wrapper h4 {
  font-weight: 700;
  font-size: 23px;
  color: #070602;
}

.cake-usd-text span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}

.input-wrapper {
  background: #f9fafb;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 10px 8px;
}

.input-wrapper span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #070602;
}

.use-balance span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #a8a8a8;
}

.use-balance-btn {
  background: #f8f8f8;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #000000;
}

.use-balance-btn.active {
  background: #fff9aa;
}

.timeframe-btn {
  background: #f9fafb;
  border-radius: 30px;
  border: 1px solid #f9fafb;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #a2a2a2;
}
.timeframe-btn.active {
  background: #fceb74;
  border: 1px solid #fed700;
  box-shadow: 0px 2px 10px rgba(87, 16, 112, 0.08);
  border-radius: 30px;

  color: #081e3f;
}

.accelerate h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.tier span {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #a3a3a3;
}

.tier-btn {
  background: #f9fafb;
  border-radius: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  text-align: center;

  color: #a2a2a2;
}
.tier-btn.active {
  background: #fceb74;
  border: 1px solid #fed700;
  color: #000000;
  border-radius: 30px;
}

.current-rate span {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #a3a3a3;
}

.input-wrapper {
  background: #f9fafb;
  border: 2px solid #ececec;
  border-radius: 14px;
}

.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a8a8a8;
}

.apply-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background: #000000;
  opacity: 0.8;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.cancel-btn {
  font-weight: 500;
  font-size: 14px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #666666;
  border: 1px solid #666666;
  background: transparent !important;
  border-radius: 15px;
}

.hide-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #070602;
}

.apy-wrapper span {
  font-weight: 600;
  font-size: 14px;
  color: #070602;
}
.apy-wrapper h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fac200;
}

.list-wrapper li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #a3a3a3;
}

/* SWITCH STYLES  */

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #dfd9ea;
  transform: scale(0.8);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #fafafa;
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}
input:checked + .switch {
  background: #f8c400;
}
input:checked + .switch::before {
  left: 27px;
  background: #fff;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 536px !important;
  }
}
